body {
    font-family: 'Montserrat', sans-serif;
}

/**intro-section-start**/
.intro {
    margin-top: 80px;
    display: flex;
}

.half-width {
    margin-left: 15%;
    margin-top: 50px;

}

.half-width2 img {
    width: 80%;
    margin-right: 10%;
}

#h1 {
    font-size: 50px;
    font-weight: 900;
    width: 520px;
    height: 180px;
    top: 260px;
    color: #575757;

}

.span {
    color: orange;
}

.half-width p {
    color: #828282;
    margin-bottom: 40px;
}

.order-food-button {
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;

}

/**intro-section-end**/