body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/**intro-section-start**/
.intro {
    margin-top: 80px;
    display: flex;
}

.half-width {
    margin-left: 10%;
    margin-top: 50px;

}

.half-width2 img {
    width: 80%;
    margin-right: 10%;
}

#h1 {
    font-size: 50px;
    font-weight: 900;
    width: 520px;
    height: 180px;
    top: 260px;
    color: #575757;

}

.span {
    color: orange;
}

.half-width p {
    color: #828282;
    margin-bottom: 40px;
}

.order-food-button {
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;

}

/**intro-section-end**/

/**about-section-start**/
.about {
    margin-top: 80px;
    display: flex;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.info2 {
    padding: 5%;
    margin-left: 15%;
    margin-right: 5%;
}

.info img {
    width: 450px;
    margin-left: 35%;
    margin-top: 30px;

}

.info2 h1 {
    font-size: 50px;
    font-weight: bold;
    color: #575757;

}

.info2 p {
    margin-bottom: 60px;
}

.contact-button {
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;
}