body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/**intro-section-start**/
.intro {
    margin-top: 80px;
    display: flex;
}

.half-width {
    margin-left: 10%;
    margin-top: 50px;

}

.half-width2 img {
    width: 80%;
    margin-right: 10%;
}

#h1 {
    font-size: 50px;
    font-weight: 900;
    width: 520px;
    height: 180px;
    top: 260px;
    color: #575757;

}

.span {
    color: orange;
}

.half-width p {
    color: #828282;
    margin-bottom: 40px;
}

.order-food-button {
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;

}

/**intro-section-end**/

/**about-section-start**/
.about {
    margin-top: 80px;
    display: flex;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.info2 {
    padding: 5%;
    margin-left: 15%;
    margin-right: 5%;
}

.info img {

    width: 450px;
    margin-left: 35%;
    margin-top: 20px;

}

.info2 h1 {
    font-size: 50px;
    font-weight: bold;
    color: #575757;

}

.info2 p {
    margin-bottom: 60px;
}

.contact-button {
    text-decoration: none;
    background: linear-gradient(lightsalmon, tomato);
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;
}

/**about-section-end**/
/**recipie-section-start**/
.My-recipie h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #575757;
}

#p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.flexible {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;

}

.recipie1 img {
    width: 430px;
    height: 308px;
}

.recipie2 img {
    width: 430px;
    height: 308px;

}

.box {
    box-shadow: 10px 10px 40px lightgrey;
    width: 40%;
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;

}

/**recipie-section-end**/

/**..start...**/
.publicity {
    display: flex;
    box-shadow: 10px 10px 40px lightgrey;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.followers {
    width: 40%;
    text-align: center;
}

.followers h1 {
    font-size: 50px;
    font-weight: bold;
}

.followers p {
    padding-left: 30px;
}

/**.....end..**/

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 10px 40px 60px
}

footer h1 {
    color: #575757;
    font-weight: bold;
    font-size: 40px;
}